
body {
    background-image: linear-gradient(to right, #c1dfc4, #deecdd);
    font-family: 'Times New Roman', Times, serif;
}

#skincare {
    height: 400px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.6;
    border-radius: 40px;

}

main{
    width: 800px;
    /*margin: auto;*/
}

form{
    margin: 40px 0;
    padding: 40px;
    background-color: white;
    border-radius: 10%;
}

form label, form p {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;

}

.input-padrao{
    display: block;
    margin-bottom: 20px;
    padding: 5px 100px;
   
}